form {
  display: flex;
  flex-direction: column;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

button {
  font-family: 'Bungee';
  background-color: steelblue;
  border: 0px;
}

output {
  font-family: 'Bungee';
}

.new-tweet {
  margin-bottom: 50px;
}

.linebreak {
  height: 3px;
  background-color: black;
  width: auto;
}

textarea {
  border: none;
  background-color: #f4f1ec;
}

.counter.limit {
  color: red;
}

.error {
  display: none;
  color: red;
}